CONVEX_DEPLOYMENT=
CONVEX_DEPLOY_KEY=
NEXT_PUBLIC_CONVEX_URL=
CONVEX_ADMIN_SECRET=
CURSOR_API_KEY=
CURSOR_AGENT_MODEL=composer-2
CURSOR_CLOUD_REPO_URL=https://github.com/ilhamfp/AdaptArxiv.git
CURSOR_CLOUD_STARTING_REF=main
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
MODAL_RUNNER_URL=
ADAPTION_API_KEY=
KAGGLE_USERNAME=
KAGGLE_KEY=
DATASET_PROSA=
DEMO_ADMIN_PASSWORD=
OPENAI_API_KEY=
